body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
}

h1,
h2,
h3 {
  font-family: "bebas neue", Verdana, Geneva, Tahoma, sans-serif;
  color: #113340;
}
.navbar {
  overflow: hidden;
  display: block;
  background-color: rgba(184, 179, 179, 0.7);
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  top: 90px;
}

nav li {
  display: inline-block;
}

.leftnav,
.rightnav {
  padding: 15px;
  color: £000;
  text-decoration: none;
  padding: 10px;
  margin-top: 2px;
  margin-bottom: 2px;
}

.leftnav {
  float: left;
}

.rightnav {
  float: right;
}
.logo {
  max-width: 200px;
  text-align: center;
}
.logo img {
  display: inline-block;
}
nav a:hover {
  text-decoration: underline;
}

header {
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 500px;
}
section {
  padding: 40px 20px 10px 30px;
  margin: 40px 20px 10px 30px;
}
.active {
  background-color: rgb(241, 157, 0);
  color: aliceblue;
}
footer {
  text-align: center;
}
footer::before,
footer::after {
  content: "/";
  color: brown;
  font-size: 30px;
  font-weight: bold;
}
.fallcollection {
  max-width: 300px;
  border-radius: 5%;
}
