@import "imports/variables.css";
@import "imports/typography.css";
@import "imports/layout.css";

body {
  margin: 0;
}
.navbar {
  overflow: hidden;
  display: block;
  background-color: rgba(184, 179, 179, 0.7);
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  top: 145px;
}

nav li {
  display: inline-block;
  padding-left: 30px;
  padding-right: 30px;
}

.leftnav,
.rightnav {
  padding: 15px;
  color: £000;
  text-decoration: none;
  padding: 10px;
  margin-top: 1px;
  margin-bottom: 1px;
}

.leftnav {
  float: left;
}

.rightnav {
  position: relative;
  float: right;
  top: 10px;
}
.logo {
  display: inline-block;
  width: 500px;
  position: relative;
  bottom: 50px;
}
nav a:hover {
  text-decoration: underline;
}
.contact {
  position: absolute;
  left: 0px;
  top: 2px;
  padding: 5px 40px;
  border: 1px solid black;
  border-radius: 5px;
  margin: 0;
  background-color: orange;
}
header {
  position: relative;
  top: 0px;
  left: 0px;
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% 100%;
  min-height: 750px;
  text-align: center;
  margin: 0;
}

.fall {
  display: inline-block;
  position: relative;
  bottom: 200px;
  left: 70px;
  background-color: rgb(187, 183, 183);
  border: 1px thin rgb(102, 98, 98);
  margin: 0;
}
.fallcollection {
  position: relative;
  float: left;
  size: contain;
  max-width: 850px;
}
.fall div {
  position: relative;
  float: right;
  text-align: center;
  padding: 20px;
  margin: 75px 85px 50px;
}
.fall h3 {
  position: relative;
  float: right;
  padding: 5px 40px;
  border: 1px solid black;
  border-radius: 5px;
  margin: 70px 100px 10px;
  background-color: white;
}
aside {
  position: relative;
  display: inline-block;
  background-color: white;
  margin: 0;
  right: 40px;
}
.insta {
  max-width: 750px;
}
.quickbrowse,
.quickbrowse2 {
  flex-direction: row;
  position: relative;
  left: 0px;
  right: 0px;
  bottom: 135px;
  display: block;
  background-color: rgb(187, 183, 183);
  border: 1px thin rgb(102, 98, 98);
}
.quickbrowse1 {
  flex-direction: row;
  position: relative;
  left: 0px;
  right: 0px;
  bottom: 135px;
  display: block;
}

.jacketicon {
  max-width: 250px;
  max-height: 250px;
}
.active {
  background-color: rgb(241, 157, 0);
  color: aliceblue;
}
a {
  color: inherit;
}
footer {
  text-align: center;
}
footer::before,
footer::after {
  content: "/";
  color: black;
  font-size: 30px;
}
@media only screen and (max-width: 900px) {
  .logo {
    width: 200px;
    position: relative;
    bottom: 70px;
  }
  header {
    min-height: 400px;
  }
  nav li {
    padding-left: 25px;
    padding-right: 25px;
  }
  .rightnav {
    float: left;
    bottom: 50px;
  }
  .fallcollection {
    max-width: 360px;
  }
  .fall div {
    position: relative;
    right: 150px;
    padding: 0;
    margin: 0;
  }
  .fall h3 {
    position: relative;
    padding: 5px 40px;
    margin: 0;
    right: 40px;
    bottom: 50px;
  }

  .fall {
    display: inline-block;
    left: 0px;
    top: 0px;
    max-height: 400px;
  }
  aside {
    display: inline-block;
    left: 0px;
    top: 0px;
    max-height: 400px;
  }
  .insta {
    max-width: 360px;
  }
  .quickbrowse,
  .quickbrowse1,
  .quickbrowse2 {
    display: none;
  }
}
