@import "imports/variables.css";
@import "imports/typography.css";
@import "imports/layout.css";

body {
  margin: 0;
}
.navbar {
  overflow: hidden;
  display: block;
  background-color: rgba(184, 179, 179, 0.7);
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  top: 145px;
}

nav li {
  display: inline-block;
  padding-left: 30px;
  padding-right: 30px;
}

.leftnav,
.rightnav {
  padding: 15px;
  color: £000;
  text-decoration: none;
  padding: 10px;
  margin-top: 1px;
  margin-bottom: 1px;
}

.leftnav {
  float: left;
}

.rightnav {
  position: relative;
  float: right;
  top: 10px;
}
.logo {
  display: inline-block;
  width: 500px;
  position: relative;
  bottom: 50px;
}
nav a:hover {
  text-decoration: underline;
}

header {
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 1000px;
  text-align: center;
  margin: 0;
}
section {
  position: relative;
  bottom: 400px;
  left: 50px;
  background-color: white;
}
aside {
  padding: 40px 20px 10px 30px;
  margin: 40px 20px 10px 30px;
  background-color: white;
}
.active {
  background-color: rgb(241, 157, 0);
  color: aliceblue;
}
a {
  color: inherit;
}
footer {
  text-align: center;
}
footer::before,
footer::after {
  content: "/";
  color: black;
  font-size: 30px;
}
.fallcollection {
  background-size: 60%;
  max-width: 300px;
  border-radius: 5%;
}
