nav {
  grid-area: nav;
}
header {
  grid-area: header;
}
main {
  grid-area: main;
}
aside {
  grid-area: aside;
}
footer {
  grid-area: footer;
}
.quickbrowse {
  grid-area: browse;
}
.quickbrowse1 {
  grid-area: browse1;
}
.quickbrowse2 {
  grid-area: browse2;
}
body {
  display: grid;
  grid-gap: 10px;
  grid-template-areas:
    "nav nav"
    "header header"
    "main aside"
    "browse browse"
    "browse1 browse1"
    "browse2 browse2"
    "footer footer";
}
main {
  max-width: 1200px;
}
@media only screen and (max-width: 900px) {
  body {
    display: grid;
    grid-gap: 10px;
    grid-template-areas:
      "nav"
      "header"
      "main"
      "aside"
      "browse"
      "footer";
  }
}
