h1 {
  font-family: "bebas neue", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 26pt;
  color: black;
  font-weight: bold;
}
h2 {
  font-family: "bebas neue", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20pt;
  color: black;
}
h3 {
  font-family: "bebas neue", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16pt;
  color: black;
}
p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: gray;
  font-size: 13pt;
}

.leftnav {
  font-family: "bebas neue", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 26pt;
}
.rightnav {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16pt;
  font-style: bold;
}
